<!DOCTYPE html>
<html lang="en">
<head> <!-- cabecera del sitio - informatico -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Dental</title>
</head>
<body> <!-- contenido del sitio -->
    <header> <!-- encabezado -->
        Este es el encabezado
    </header>    
    <nav> <!-- menu de navegacion -->
        <a href="#"> <!-- enlace al sitio -->
            <img src="../resources/images/logo.png" alt="logo-dental" > <!-- logo del sitio -->
        </a>        
        <ul> <!-- lista no ordenada - menu -->
            <a href="../index.html"> <li>INICIO</li> </a>
            <a href="servicios.html"> <li>SERVICIOS</li> </a>
            <a href="seguro-dental.html"> <li>SEGURO DENTAL</li> </a>
            <a href="blog.html"> <li>BLOG</li> </a>
            <a href="contacto.html"> <li>CONTACTO</li> </a>
        </ul>
    </nav>
    <hr>
    <section> <!-- seccion para hero -->
        <div> <!-- div para la hero image -->
            <h1>Servicios odontologicos</h1>            
            <p>Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam</p>
        </div>
    </section>
    <hr>
    <main> <!-- contenido del sitio -->

        
    </main>
    <hr>
    <footer> <!-- pie de pagina -->
        <section>
            <div> <!-- left -->
                <img src="resources/images/image_footer.png" alt="">
                <h2>Company name</h2>
                <p>Al cuidado de tu sonrisa</p>                
            </div>
            <div> <!-- center -->
                <h2>Enlaces de interes</h2>
                <ul> <!-- lista no ordenada - menu -->
                    <a href="../index.html"> <li>Inicio</li> </a>
                    <a href="servicios.html"> <li>Servicios</li> </a>
                    <a href="seguro-dental.html"> <li>Seguro Dental</li> </a>
                    <a href="blog.html"> <li>Blog</li> </a>
                    <a href="contacto.html"> <li>Contacto</li> </a>
                </ul>
            </div>
            <div> <!-- right -->
                <h2>Encuentranos</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.3993661967943!2d-70.24325865109674!3d-18.006660328518578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915acfe370391e33%3A0xa6266e203211b21e!2sParque%20de%20la%20cultura!5e0!3m2!1ses-419!2spe!4v1647652040130!5m2!1ses-419!2spe" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
    </footer>    
</body>
</html>