<!DOCTYPE html>
<html lang="en">
<head> <!-- cabecera del sitio - informatico -->
    <title>Neo Sonrisas - Servicios</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/style.css"> <!-- carga de estilos -->
    <link href="../assets/fontawesome/css/all.css" rel="stylesheet"> <!-- carga de fontawesome -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- conexion a google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Noto+Sans&display=swap" rel="stylesheet"> <!-- fuentes a usar -->
</head>
<body> <!-- contenido del sitio -->
    <header> <!-- encabezado -->
        <section class="contrast-color"> <!-- top bar -->
            <div class="header-navigation contrast-color"> <!-- top bar container -->
                <div class="header-left">
                    <i class="fa-solid fa-phone fa-2xs"></i> <span>+51 974999999</span>
                    <i class="fa-solid fa-calendar fa-2xs"></i> <span>Lun. a Vier. 9:00 - 19:00</span>
                </div>
                <div class="header-right">
                    <a href="https://facebook.com/" class="secundary-icon" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a>
                    <a href="https://instagram.com/" class="secundary-icon" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>
                    <a href="https://tiktok.com/" class="secundary-icon" target="_blank"><i class="fa-brands fa-tiktok fa-lg"></i></a>
                </div>
            </div>
        </section>
        <nav class="header-navigation"> <!-- menu de navegacion -->
            <div class="logo-size-header">
                <a href="../index.html"> <!-- enlace al sitio -->
                    <img src="/assets/images/dental-logo.svg" class="image-fit" alt="dental logo" > <!-- logo del sitio -->
                </a>
            </div>
            <ul class="header-menu-blank-background"> <!-- lista no ordenada - menu -->
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="seguro-dental.html">SEGURO DENTAL</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a id="right-nopadding" href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <section> <!-- seccion para hero -->
        <div> <!-- div para la hero image -->
            <h1>Servicios odontologicos</h1>            
            <p>Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam</p>
        </div>
    </section>
    <hr>
    <main> <!-- contenido del sitio -->

        
    </main>

<footer class="top-bottom-padding contrast-color phone-no"> <!-- pie de pagina -->
    <div class="row-content-row">
        <section class="simple-grid-3c">
            <div class="column-content-column flex-content-top-center "> <!-- left -->
                <h4 class="contrast-title">Neo Sonrisas</h4>
                <p class="contrast-color contrast-text">Al cuidado de tu sonrisa</p>
                <div class="logo-size-footer">
                    <img src="assets/images/dental-logo-white-contrast.svg" class="image-fit" alt="dental logo" >
                </div>
                <div class="header-right top-margin">
                    <a href="https://facebook.com/" class="secondary-icon" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a>
                    <a href="https://instagram.com/" class="secondary-icon" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>
                    <a href="https://tiktok.com/" class="secondary-icon" target="_blank"><i class="fa-brands fa-tiktok fa-lg"></i></a>
                </div>
            </div>
            <div class="column-content-column flex-content-top-center"> <!-- center -->
                <h4 class="contrast-title">Enlaces de interes</h4>
                <ul class="footer-menu"> <!-- lista no ordenada - menu -->
                    <li><a href="index.html"> Inicio </a></li>
                    <li><a href="views/servicios.html"> Servicios </a></li>
                    <li><a href="views/seguro-dental.html">Seguro Dental</a></li>
                    <li><a href="views/blog.html"> Blog </a></li>
                    <li><a href="views/contacto.html"> Contacto </a></li>
                </ul>
            </div>
            <div class="column-content-column flex-content-top-center"> <!-- right -->
                <h4 class="contrast-title">Encuentranos</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.3993661967943!2d-70.24325865109674!3d-18.006660328518578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915acfe370391e33%3A0xa6266e203211b21e!2sParque%20de%20la%20cultura!5e0!3m2!1ses-419!2spe!4v1647652040130!5m2!1ses-419!2spe" class="map-frame" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
    </div>
</footer>
<footer class="top-bottom-padding contrast-color desktop-no"> <!-- pie de pagina -->
    <div class="row-content-column flex-content-center">
        <div class="column-content-column flex-content-top-center top-margin"> <!-- left -->
            <h4 class="contrast-title">Neo Sonrisas</h4>
            <p class="contrast-color contrast-text">Al cuidado de tu sonrisa</p>
            <div class="logo-size-footer">
                <img src="assets/images/dental-logo-white-contrast.svg" class="image-fit" alt="dental logo" >
            </div>
            <div class="header-right top-margin">
                <a href="https://facebook.com/" class="secondary-icon" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a>
                <a href="https://instagram.com/" class="secondary-icon" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>
                <a href="https://tiktok.com/" class="secondary-icon" target="_blank"><i class="fa-brands fa-tiktok fa-lg"></i></a>
            </div>
        </div>
        <div class="column-content-column flex-content-top-center top-margin"> <!-- center -->
            <h4 class="contrast-title">Enlaces de interes</h4>
            <ul class="footer-menu"> <!-- lista no ordenada - menu -->
                <li><a href="index.html"> Inicio </a></li>
                <li><a href="views/servicios.html"> Servicios </a></li>
                <li><a href="views/seguro-dental.html">Seguro Dental</a></li>
                <li><a href="views/blog.html"> Blog </a></li>
                <li><a href="views/contacto.html"> Contacto </a></li>
            </ul>
        </div>
        <div class="column-content-column flex-content-top-center top-margin bottom-margin"> <!-- right -->
            <h4 class="contrast-title">Encuentranos</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.3993661967943!2d-70.24325865109674!3d-18.006660328518578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915acfe370391e33%3A0xa6266e203211b21e!2sParque%20de%20la%20cultura!5e0!3m2!1ses-419!2spe!4v1647652040130!5m2!1ses-419!2spe" class="map-frame" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </div>
</footer>
</body>
</html>